body {
    font-size: 1.2em;
}

header, nav, main, footer {
    margin: 1em auto;
    max-width: 900px;
}

header {
    background-color: darkslategray;
    color: darkkhaki;
    text-align: center;
    padding: .5em 0;
    border: solid 2px;
    border-radius: 5%;
}


img{
    width: 200px;
    height: auto;
    float: right;
    margin-right: 2%;
    box-shadow: black 0 0 20px 5px;
}

footer {
background-color: darkslategray;
color: darkkhaki;
text-align: center;
padding: .5em 0;
border: solid 2px;
border-radius: 5%;
}

