/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    /* Header */



    .headings h1 {
        font-size: 3rem;
        margin: 10px auto;
    }

    .motto {
        /*    font-style: italic;*/
        letter-spacing: 1pt;
        color: rgb(25, 60, 156);
        margin-left: 10px;
        font-size: 1.5rem;
        font-family: sans-serif
    }


    /* Main */

    section.forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    section.forecast div {
        text-align: center;
        border: 1px solid rgb(88, 116, 34);
    }
    
    section.forecast div h5 {
        background-color: rgb(25, 60, 156);
        margin: 0;
        padding: 1rem 0;
        color: rgb(163, 202, 85);
    }
    
    section.forecast div img {
        margin: 0;
        padding-top: 1rem;
    }
}